* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;

  color: white;

  text-align: center;

  padding: 1rem;
}

.logo {
  max-width: 5rem;
  height: auto;

  border-radius: 50%;
}

.menu {
  text-align: center;
}

.menu__list {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  justify-content: center;
}

.menu__item {
  position: relative;

  margin: 0 1rem;
}

.menu__name {
  color: white;
  text-decoration: none;

  padding: 1rem;

  display: block;
}

.menu__submenu {
  position: absolute;
  text-align: left;
  opacity: 0;

  background-color: #444;

  min-width: 1.5rem;

  padding: 0;
  list-style: none;
}

.menu__item:hover .menu__submenu {
  opacity: 1;
}

.submenu__link {
  color: white;
  text-decoration: none;

  display: block;

  padding: 0.8rem;
}

.submenu__link:hover {
  background-color: #555;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;

  max-width: 110rem;

  margin: auto;
}

.category {
  display: grid;
}

.category:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 12;
  gap: 1.5rem;

  padding: 1.5rem;
  border-radius: 0.5rem;
}

.category.First .card {
  background-color: #b3e5fc;
}

.category:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 12;
  gap: 1.5rem;

  padding: 1.5rem;
  border-radius: 0.5rem;
}

.category.Second .card {
  background-color: #ffcccb;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  text-align: center;

  box-shadow: 0.2rem 0.2rem 0.5rem rgba(233, 232, 232, 0.1);

  background-color: white;
}

.card a {
  display: inline-block;

  margin-top: 1rem;
  padding: 0.3rem 0.6rem;

  background-color: #007BFF;

  color: white;
  text-decoration: none;

  border-radius: 0.5rem;
}

.card a:hover {
  background-color: #0056b3;
}

footer {
  background-color: #c5c2c2;

  color: rgb(35, 33, 33);

  text-align: center;

  padding: 1rem;
}

@media (max-width: 70rem) {

  .category:nth-child(1),
  .category:nth-child(2) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu__submenu {
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu__item:hover .menu__submenu {
    transform: rotateX(0deg);
  }
}